__pycache__/
*.py[cod]

.cache
.local
.venv/

/.cache/
/.conda/
/.config/
/.devcontainer/
/.docker_root/
/.hf_tmp_auth/
/.hf_upload_tmp/
/.local/
/.nv/
/.vscode/

/data
/checkpoints
/logs
/log
/outputs
/sandbox
/wandb
wandb/
.wandbkey

third_party/FLARE/checkpoints/
third_party/FLARE/**/__pycache__/
third_party/FLARE/**/build/
third_party/FLARE/**/*.so

third_party/MASt3R-SLAM/checkpoints/
third_party/MASt3R-SLAM/logs/
third_party/MASt3R-SLAM/outputs/
